body{
    margin: 0;
    padding: 0;
}
.top-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-content{
    width:45%;
}
.top-content img{
    width: 80%;
}
.top-content h1{
    font-size: 42px;
    width: 100%;
}
.top-content p{
    color: gray;
}
.top-content span{
    color: orange;
}
.top-content a{
    display: inline-block;
    padding: 13px 22px;
    font-size: 19px;
    background-image: linear-gradient(to bottom right,tomato,orange);
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    margin-top: 2px;
    

}
.about{
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(images/about-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-half{
    width: 40%;
}
.about-half h1,p{
    color: gray;
}
.about-half img{
    width: 300px;
    height: 300px;
    border-radius:50%;
    margin-left: 70px;
    border: 4px dotted tomato;
    box-shadow: 10px 5px 20px gray;
}
.about-half a{
    display: inline-block;
    padding: 13px 22px;
    font-size: 19px;
    background-image: linear-gradient(to top right,tomato,orange);
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    margin-top: 2px;
}
.recipi-tx{
    width: 100%;
}
.recipi-tx p,h1{
    width: 30%;
    margin:30px auto;
    text-align: center;
    
}



.recipi-img{
    display: flex;
    align-items: center;
    justify-content: center;

}
.half {
    width: 40%;
    margin-left: 20px;
    padding: 20px;
    box-shadow: -1px 33px 100px #dbd4d4;
    border-radius: 30px;
}
.img-left img{
    width: 100%;
    height: 335px;
}
.img-right img{
    width: 100%;
    height: 335px;
}
.social-media{
    width: 80%;
    margin: 120px auto;
    box-shadow: 0px 1px 26px grey;
    border-radius: 10px;

    
}
.social-content{
    display: flex;
    justify-content: space-evenly;
}
.social-content h1{
    font-size: 40px;
}
.social-content p{
    color: gray;
}
.footer{
    background-color: #120f0f;
    height: 35vh;
}
.tx-color{
    color: orange;
}
.tx-color1{
    color: gray;
}
.foot-text {
   padding-top: 30px;
}
.foot-text p{
    text-align: center;
}